*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eee;
    font-family: initial;
}

.container{
    max-width: 1000px;
    background-color: #e4f9fe;
    margin: 0 auto;
    padding: 20px;
}

header{

}

.profile-image{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;

}

.header-bio{
    float: left;
    padding: 30px;
}

h1,h2,h3,h4,h5,h6{
    color: #11999e;
}

.header-contact{
    float: right;
    padding: 30px;

}
.header-contact a{
    text-decoration: none;
    color: teal;
    font-family: bold;
}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
}
.div-cler{
    clear: both;
}

hr{
    border: solid black 3px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
/*----------------
personal section start
----------------*/

#personal-section{

}
.content{
    margin-bottom: 30px;   
}

.left-div{
   width: 30%;
   float: left;
    
}

.right-div{
   width: 70%;
   float: left;
}
.common-hr{
    
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}

/*----------------
education section start
----------------*/
.edu-left{
    float: left;
    width: 50%;

}

.edu-right{
    float: left;
    width: 50%;

}
.edu-left p a{
    text-decoration: none;
}

.edu-rigth p a{
    text-decoration: none;
}

.botom-container{
    background-color: black;
    text-align: center;
    padding: 10px;
}
.botom-container a{
    color: wheat;
    text-decoration: none;
    margin: 20px;

}
.botom-container p{
    color: wheat;
    margin-top: 20px;
}
